<!--including header-->
<%- include('include/_header')%>
<!--/including header-->


<!--Main Secton-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>Students</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New Student</h2>
            <span class="text-light">Enter the Details to add a new student</span>
        </div>
        <!--adding user form-->
        <%- include('include/_form')%>
</main>



<!--including footer-->
<%- include('include/_footer')%>
<!--/including footer-->